html {
  transition: ease-in 2s;
}

body {
  color: rgb(34, 34, 34);
  background: #e0e0e0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #d6b7ff;
}

.app {
  margin-bottom: -3em;
  min-height: 100svh;
  padding-bottom: 50px;
}

.side-bar {
  z-index: 1;
  width: 15%;
  position: fixed;
  height: 100%;
  padding: 0 4em 0 1em;
  overflow: auto;
}

.side-bar-elements {
  max-width: min(120px, auto);
  color: rgb(30, 30, 30);
  background: #e0e0e0;
  box-shadow: 10px 10px 60px #bebebe, -10px -10px 60px #ffffff;
  padding: 1em;
  margin-right: 2em;
  font-size: 1.2em;
  font-weight: 400;
  height: 4em;
  border-radius: 10px;
  display: flex;
  align-items: end;
  position: relative;
  overflow: hidden;
  margin: 1.1em 0;
  transition: ease-in-out 0.5s;
}

.side-bar-elements:hover {
  background: #fdfdfd;
  box-shadow: 15px 30px 40px #bebebe, 0px 0px 80px #ffffff;
  cursor: pointer;
}

.side-bar-elements::before {
  content: "";
  color: #ffffff;
  font-size: 1.2em;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-32px);
  line-height: 2.2em;
  text-align: center;
}
.side-bar-elements:nth-child(1):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f274";
  background-color: #4668ff;
}
.side-bar-elements:nth-child(2):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f073";
  background-color: #ff4646;
}
.side-bar-elements:nth-child(3):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f01c";
  background-color: #000000;
}
.side-bar-elements:nth-child(4):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f024";
  background-color: rgb(238, 146, 8);
}
.side-bar-elements:nth-child(5):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  background-color: #575757;
}

.my-lists-heading {
  font-size: 2em;
  font-weight: 800;
}

.side-bar-section-list {
  background: #e0e0e0;
  box-shadow: 10px 10px 60px #bebebe, -10px -10px 60px #ffffff;
  color: rgb(30, 30, 30);
  padding: ;
  height: auto;
  border-radius: 20px;
  position: relative;
  line-height: 1em;
  transition: ease-in-out 0.5s;
}

.side-bar-section-list:hover {
  box-shadow: 15px 30px 40px #bebebe, 0px 0px 80px #ffffff;
  background: #fdfdfd;
}

.reminder-list:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px #bebebe;
  background: #ffffff;
}
.side-bar-list-todo:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px #bebebe;
  background: #ffffff;
}

.reminder-list {
  color: rgb(30, 30, 30);
  width: auto;
  padding: 0.8em 0 0.8em 0.2em;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 0px 0px #bebebe;
  border-radius: 20px 20px 0 0;
}

@media {
}

.side-bar-list-todo {
  color: rgb(30, 30, 30);
  width: auto;
  padding: 0.8em 0 0.8em 0.2em;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 0px 0px #bebebe;
  border-radius: 0 0 20px 20px;
}

.reminder-list::before,
.side-bar-list-todo::before {
  content: "";
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em;
  margin-right: 0.3em;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
}

.reminder-list:nth-child(1):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03a";
  background-color: rgb(238, 146, 8);
}
.side-bar-list-todo:nth-child(2):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03a";
  background-color: rgb(127, 8, 238);
}

.side-bar-lists-section {
  margin-top: 2.5em;
}

.container-heading {
  position: relative;
  margin-left: 20%;
  top: 7em;
  padding: 10px 20px 10px 20px;
}

.container {
  position: relative;
  margin-left: 20%;
  top: 7em;
  padding: 10px 20px 10px 20px;
}

.to-do-heading {
  z-index: 1;
  position: fixed;
  top: -0.2em;
  color: blueviolet;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}
.to-do-heading::before {
  content: "";
  z-index: -1;
  position: fixed;
  height: 2em;
  width: 100%;
  transform: translateY(-0.6em);
  -webkit-mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(8px);
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #e0e0e0f3 80%);
}

.no-tasks:before {
  content: "No Tasks";
  z-index: -1;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.4em;
  color: rgb(192, 192, 192);
}
.no-task-invisible {
  font-size: 2em;
}

.add-new-task-btn {
  color: blueviolet;
  background-color: transparent;
  border: none;
  font-size: 2em;
  font-weight: 600;
  position: fixed;
  bottom: 20px;
}

.add-new-task-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 140%;
  min-width: 90vw;
  transform: translateX(-12.4rem);
  -webkit-mask: linear-gradient(transparent, black, black);
  backdrop-filter: blur(8px);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, #e0e0e0f3 90%);
}

.add-new-task-btn::before {
  content: "+";
  font-size: 1.1em;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  height: 1em;
  width: 1em;
  margin: 15px 10px 0 0;
  border-radius: 50%;
  align-self: center;
  line-height: 1em;
}
.add-new-task-btn:hover {
  color: rgb(170, 113, 224);
  cursor: pointer;
}
.add-new-task-btn:hover::before {
  background-color: rgb(170, 113, 224);
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto 2em 2em 3em;
  gap: 0.4em;
}

input[type="checkbox"] {
  appearance: none;
  background: #e0e0e0;
  font: inherit;
  color: rgb(192, 192, 192);
  filter: blur(0.6px);
  transform: translateY(0.1em);
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.form-control + .form-control {
  margin-top: 0.8em;
}

input[type="checkbox"]::before {
  content: "";
  background-color: rgb(170, 113, 224);
  color: rgb(170, 113, 224);
  border-radius: 50%;
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  filter: blur(5px) brightness(1.5);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  color: rgb(170, 113, 224);
  filter: blur(5px) brightness(1.2);
}
input[type="checkbox"]:checked {
  color: rgb(170, 113, 224);
  transition: 140ms transform ease-in-out;
}

input[type="text"] {
  border: none;
  color: black;
  font-size: 0.8em;
  background-color: transparent;
  border-bottom: solid 1px rgb(192, 192, 192);
  padding-bottom: 1.2em;
  position: relative;
  width: calc(100% - 1.3em);
}

input[type="date"] {
  margin-left: 2.9em;
  width: 8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  color: rgb(87, 87, 87);
  font-size: 1em;
  background-color: transparent;
  position: relative;
  bottom: 1.8em;
}

::-webkit-calendar-picker-indicator {
  background: transparent;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  height: 0.6em;
  width: 0.6em;
  border: solid 1px rgb(87, 87, 87);
  position: relative;
}

::-webkit-calendar-picker-indicator:hover {
  background: rgba(110, 12, 221, 0.534);
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.save-btn:hover {
  filter: brightness(1.1);
  background-color: rgb(200, 255, 200);
  box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px rgba(200, 255, 200, 0.801);
  color: #76a788;
}
.flag-btn:hover {
  filter: brightness(1.1);
  background-color: rgb(255, 185, 56);
  box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px rgba(255, 225, 200, 0.801);
  color: #e4e4e4;
}
.del-btn:hover {
  filter: brightness(1.1);
  background-color: rgb(231, 64, 64);
  box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px rgba(255, 200, 200, 0.801);
  color: #e4e4e4;
}
.save-btn {
  border: none;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow: 7px 7px 14px #d0d0d0, -7px -7px 14px #f0f0f0;
  color: rgb(34, 197, 34);
  font-weight: 600;
  font-size: 0.68em;
}

.flag-btn {
  border: none;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow: 7px 7px 14px #d0d0d0, -7px -7px 14px #f0f0f0;
  color: rgb(238, 146, 8);
  font-weight: 600;
  font-size: 0.8em;
}

.task-flagged {
  text-align: end;
  position: absolute;
  height: 1.4em;
  width: 1.5em;
  color: rgb(238, 146, 8);
  font-size: 1.4em;
  right: 6.4em;
}

.task-flagged::before {
  font-family: "Font Awesome 5 Free";
  font-size: 0.65em;
  font-weight: 900;
  content: "\f024";
}

.del-btn {
  border: none;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow: 7px 7px 14px #d0d0d0, -7px -7px 14px #f0f0f0;
  color: rgb(231, 64, 64);
  font-weight: 600;
  font-size: 0.58em;
}
